@charset "utf-8";
/*---------------------------------------------------------------------------------------------------------------------
    common
---------------------------------------------------------------------------------------------------------------------*/
section ~ section {
  padding: 150px 80px;
}

.description h3 {
  font-size: 32px;
  margin: 0 0 30px;
}
.description h3 .small {
  font-size: 18px;
  color: #e63d21;
}
.description h3 .small:after {
  content: "";
  height: 16px;
  display: block;
}
.moreview__btn {
  width: 144px;
  height: 40px;
  margin: 60px auto 0;
  border-radius: 30px;
  border: 1px solid #000;
  line-height: 40px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.moreview__btn span {
  padding-left: 20px;
}

.moreview__btn i:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 20px;
  transition: 0.3s;
  transform: translateY(-50%);
  background: url(images/icon/more_btn1.svg) no-repeat center center;
}

.moreview__btn:hover {
  border-color: #e63d21;
  background-color: #e63d21;
  color: #fff;
}
.moreview__btn:hover i:after {
  background: url(images/icon/more_btn2.svg) no-repeat center center;
}
/*---------------------------------------------------------------------------------------------------------------------
    snb
---------------------------------------------------------------------------------------------------------------------*/
.snb {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.snb li a {
  display: block;
  color: #e63d21;
  text-align: right;
  font-weight: bold;
  margin: 14px 0;
}
.snb li a::after {
  content: "";
  display: block;
  clear: both;
}
.snb li a span {
  display: inline-block;
  float: right;
}
.snb li a .dot {
  width: 8px;
  height: 8px;
  background-color: #e63d21;
  font-size: 0;
  border-radius: 50%;
  margin-left: 16px;
  margin-top: 6px;
}
.snb li a .label {
  opacity: 0;
}
/* .active */
.snb li a.active .label,
.snb li a:hover .label {
  opacity: 1;
}
.snb li a.active .dot {
  transform: scale(1.6);
  background-color: #e63d21;
}

/*---------------------------------------------------------------------------------------------------------------------
    home
---------------------------------------------------------------------------------------------------------------------*/
#home {
  padding: 0 80px;
}

.splide__track {
  width: 100%;
  height: 700px;
  border-radius: 0px 60px;
  background-color: #eee;
  overflow: hidden;
}

.splide__list {
  height: 100%;
}

.splide__list .splide__slide {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.splide__list .slide1 {
  background: url(images/bg/bg_section01.png) no-repeat 50% 50% / cover;
}
.splide__list .slide2 {
  background: url(images/bg/bg_section02.png) no-repeat 50% 50% / cover;
}
.splide__list .slide3 {
  background: url(images/bg/bg_section03.png) no-repeat 50% 50% / cover;
}

.splide__list .splide__slide .info {
  position: absolute;
  top: 50%;
  left: 170px;
  transform: translateY(-50%);
  color: #fff;
}

.splide__list .splide__slide .info h2 {
  line-height: 1.4;
  margin: 40px 0;
}

/*---------------------------------------------------------------------------------------------------------------------
    about
---------------------------------------------------------------------------------------------------------------------*/
#about {
  position: relative;
  background: url(images/bg/bg_circle01.png) no-repeat -50% 170%,
    url(images/bg/bg_circle02.png) no-repeat 90% 50px;
}

.content {
  width: 90%;
  max-width: 1020px;
  margin: 40px auto 0;
}

.content img {
  width: 100%;
}
/*---------------------------------------------------------------------------------------------------------------------
    vision
---------------------------------------------------------------------------------------------------------------------*/
#vision {
  background-color: #f6f6f6;
}
.vision__list {
  margin: 100px 0 0;
  text-align: center;
}

.vision__list__item {
  display: inline-block;
  width: 30%;
}

.vision__list__item figure {
  width: 112px;
  height: 112px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}

.vision__list__item figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vision__list__item p span {
  display: block;
}
.vision__list__item .title {
  margin: 30px 0 20px;
  font-size: 20px;
  font-weight: 700;
  color: #606060;
}

/*---------------------------------------------------------------------------------------------------------------------
    academy
---------------------------------------------------------------------------------------------------------------------*/
.academy {
  margin-top: 80px;
  overflow: hidden;
}

.academy__class {
  width: 45%;
  min-width: 300px;
  height: 350px;
  position: relative;
  float: left;
  background: url(images/bg/bg_circle03.png) no-repeat 50% 50% / contain;
}

.academy__class .class__list {
  padding: 14px;
  background-color: #fff;
  text-align: center;
}
.academy__class .list2 {
  position: absolute;
  bottom: 50px;
}
.academy__class .list3 {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.academy__class .class__list .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.academy__img {
  width: 50%;
  float: right;
}
.academy__img img {
  width: 100%;
}

/*---------------------------------------------------------------------------------------------------------------------
    service
---------------------------------------------------------------------------------------------------------------------*/
#service {
  background: url(images/bg/bg_section04.png) fixed 50% 50% / cover;
  color: #f6f6f6;
}

.service__list {
  margin-top: 80px;
  position: relative;
  text-align: center;
}

.service__list .service__list__item {
  display: inline-block;
  vertical-align: top;
  width: 33.3333%;
  min-width: 270px;
  border: 1px solid #f6f6f6;
  margin: 0 -30px;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
}
.service__list .service__list__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.service__list .service__list__item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.service__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}

.service__description .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.service__description .sub__title {
  font-weight: 400;
  margin-bottom: 30px;
}

#service .moreview__btn {
  border-color: #f6f6f6;
}

#service .moreview__btn i:after {
  background: url(images/icon/more_btn2.svg) no-repeat 50% 50%;
}

/*---------------------------------------------------------------------------------------------------------------------
    recruit
---------------------------------------------------------------------------------------------------------------------*/
#recruit {
  position: relative;
  padding-bottom: 0;
  color: #f6f6f6;
  height: 670px;
}
#recruit .moreview__btn {
  margin: 60px 0 0;
  border-color: #f6f6f6;
}
#recruit .moreview__btn i:after {
  background: url(images/icon/more_btn2.svg) no-repeat 50% 50%;
}
#recruit .wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.recruit__img {
  position: relative;
  bottom: 224px;
  z-index: -1;
  height: 100%;
  border-radius: 0px 60px;
  background: url(images/bg/bg_section05.png) no-repeat 50% 50% / cover;
}

/*---------------------------------------------------------------------------------------------------------------------
    notice
---------------------------------------------------------------------------------------------------------------------*/
#notice .wrap {
  overflow: hidden;
}
#notice h3 {
  margin: 14px 0 20px;
  font-size: 32px;
}
.notice,
.news {
  width: 90%;
  max-width: 598px;
  vertical-align: top;
  position: relative;
}
/* .notice {
  float: left;
}
.news {
  float: right;
} */
#notice i {
  position: absolute;
  top: 2px;
  right: 0;
  width: 36px;
  height: 36px;
  background-color: #f6f6f6;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
#notice i:after {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(images/icon/more_btn1.svg) no-repeat;
}
#notice i:hover {
  background: #e63d21;
}
#notice i:hover:after {
  background: url(images/icon/more_btn2.svg) no-repeat 50% 50%;
}
.notice__list {
  border-top: 2px solid #606060;
}
.notice__list .notice__list__item {
  padding: 10px 0;
  border-bottom: 1px solid #e7e6e1;
  cursor: pointer;
}
.notice__list .notice__list__item .title {
  padding-bottom: 8px;
  font-weight: 700;
}

.notice__list .notice__list__item p {
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 90%;
  overflow: hidden;
}
.notice__list .notice__list__item p:last-child {
  color: #606060;
}

.swiper-pagination {
  display: none;
}
/*---------------------------------------------------------------------------------------------------------------------
    media query
---------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1340px) {
  /* academy */
  .academy {
    margin-top: 60px;
  }

  .academy__class .class__list span {
    display: block;
  }

  /* service */
  .service__list {
    margin-top: 30px;
  }

  .service__list .service__list__item {
    margin: 0 -10px;
  }

  /* recruit */
  #recruit {
    height: 550px;
  }
}

@media screen and (max-width: 1024px) {
  section ~ section {
    padding: 100px 30px;
  }

  /* home */
  #home {
    padding: 0;
  }

  .splide__track {
    border-radius: 0;
  }

  .splide__list .splide__slide .info,
  .splide__arrows {
    left: 50px;
  }

  .splide__progress {
    left: 110px;
  }

  /* academy */
  .academy__class,
  .academy__img {
    float: none;
    margin: 0 auto;
  }

  .academy__img {
    width: 70%;
    margin-bottom: 40px;
  }

  /* service */
  .service__description .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 740px) {
  section ~ section {
    padding: 80px 10px;
  }

  .description h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .description br {
    display: none;
  }

  .moveup-btn {
    width:36px;
    height:36px;
    border-radius: 50%;
    background-color: #e7e6e1;
    position: fixed;
    bottom:30px;
    right:20px;
    z-index: 999;
  }

  .moveup-btn a {
    width:14px;
    height:14px;
    display: block;
    border:2px solid;
    border-color: #000 #000 transparent transparent;
    position: relative;
    top:50%; left: 50%;
    transform: translate(-50%, -25%) rotate(-45deg);
  }

  /* home */
  .splide__track {
    height: 446px;
    margin-top: 80px;
  }

  .splide__list .splide__slide .info,
  .splide__arrows {
    left: 30px;
  }

  .splide__list .splide__slide .info h2 {
    font-size: 18px;
  }

  .splide__progress {
    top: 34%;
    left: 80px;
  }

  .splide__arrows {
    top: 63%;
  }

  /* vision */
  .vision__list {
    margin-top: 50px;
  }

  .vision__list__item {
    display: list-item;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }

  .vision__list__item figure {
    width: 78px;
    height: 78px;
  }

  .vision__list__item figure img {
    width: 60%;
  }

  .vision__list__item .title {
    margin: 20px 0 8px;
    font-size: 18px;
  }
  .vision__list__item p span {
    display: inline;
  }

  /* academy */
  .academy {
    margin-top: 50px;
  }

  .academy__img {
    width: 90%;
  }

  .academy__class {
    width: 60%;
  }

  .academy__class .class__list .title {
    font-size: 18px;
  }

  /* service */
  .service__list {
    margin-top: 50px;
  }
  .service__list .service__list__item {
    margin: -15px 0;
  }

  .service__description .title {
    font-size: 18px;
  }

  .service__description br {
    display: none;
  }

  .service__description span {
    display: block;
  }

  /* recruit */
  #recruit {
    padding: 80px 0 0;
    height: 410px;
  }

  #recruit .description br {
    display: block;
  }
  .recruit__img {
    border-radius: 0;
    bottom: 184px;
  }

  /* notice */
  #notice h3 {
    margin: 0 0 12px;
    font-size: 20px;
  }

  .notice,
  .news {
    float: none;
    width: 100%;
  }

  #notice i {
    top: -10px;
  }

  .swiper-pagination {
    display: block
}
